extends layout

block content
  h1= title
  p Welcome to #{title}
  
  //- Add a way to get the user's current game number... 
  //- actually all the games that the user has completed to that point
  //- a(class='gameNumber', href='gameNum', id='') 1

  a(href='/play/0', class='gameNumber') New Game
