extends layout

block content
  div 
    table
      tbody
        - var i = 0
        - each val in game.boardElements
          if (i % game.boardXSize == 0)
            tr
          td #{val}
          - i++
            
//        while i < game.boardXSize
//          tr= i++
//          - var j = 0
//          while j < game.boardYSize
//            td #{game.boardElements[i+j]}
//            - j++
//    ul
