extends layout

block content
  div 
    table
      tbody
        - var i = 0
        - each val in game.boardElements
          if (i % game.boardXSize == 0)
            tr
          td #{val}
          - i++
  div
    table
      tbody
        tr
        - each val in game.letterElements
          td #{val}
