.App {
}

.Header {
  text-align: center;
  background-color: #222;
  width: 100%;
  padding: 20px;
  color: white;
}

.game {
  width: 100%;
  text-align: center;
}

.GameBoard {
  padding: 20px;
  width: 80%;
  margin: auto;
  background-color: #123456;
  text-align: center;
}

.LetterBoard {
  padding: 20px;
  width: 80%;
  margin: auto;
  background-color: #1100FF;
  text-align: center;
}

.Letter {
  /* Hacky Solution for correct alignment of empty buttons */
  vertical-align: top;
  width: 30px;
  height: 30px;
  margin: 0;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
